<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="FILE" class="org.apache.log4j.RollingFileAppender">    
        <param name="File" value="/var/log/tomcat/server-main.log" />
        <param name="MaxFileSize" value="20MB" />
        <param name="MaxBackupIndex" value="4" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                value="%p %d{MMM dd HH:mm:ss,SSS} [%t] | %m  (%C{1}.%M:%L)%n"/>
        </layout>
    </appender>

    <appender name="WARN_FILE" class="org.apache.log4j.RollingFileAppender">    
        <param name="File" value="/var/log/tomcat/server-alert.log" />
        <param name="MaxFileSize" value="10MB" />
        <param name="MaxBackupIndex" value="4" />
        <param name="Threshold" value="WARN" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                value="%p %d{MMM dd HH:mm:ss,SSS} [%t] | %m  (%C{1}.%M:%L)%n"/>
        </layout>
    </appender>

    <appender name="WIRE_FILE" class="org.apache.log4j.RollingFileAppender">    
        <param name="File" value="/var/log/tomcat/server-wire.log" />
        <param name="MaxFileSize" value="20MB" />
        <param name="MaxBackupIndex" value="4" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                value="%p %d{MMM dd HH:mm:ss,SSS} [%t] | %m  (%C{1}.%M:%L)%n"/>
        </layout>
    </appender>

    <appender name="RPC_FILE" class="org.apache.log4j.RollingFileAppender">    
        <param name="File" value="/var/log/tomcat/server-rpc.log" />
        <param name="MaxFileSize" value="20MB" />
        <param name="MaxBackupIndex" value="4" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                value="%p %d{MMM dd HH:mm:ss,SSS} [%t] | %m  (%C{1}.%M:%L)%n"/>
        </layout>
    </appender>

    <appender name="HTTP_FILE" class="org.apache.log4j.RollingFileAppender">    
        <param name="File" value="/var/log/tomcat/server-http.log" />
        <param name="MaxFileSize" value="10MB" />
        <param name="MaxBackupIndex" value="1" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                value="%p %d{MMM dd HH:mm:ss,SSS} [%t] | %m  (%C{1}.%M:%L)%n"/>
        </layout>
    </appender>

    <appender name="NOTIFICATIONS_FILE" class="org.apache.log4j.RollingFileAppender">    
        <param name="File" value="/var/log/tomcat/server-notifications.log" />
        <param name="MaxFileSize" value="10MB" />
        <param name="MaxBackupIndex" value="1" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                value="%p %d{MMM dd HH:mm:ss,SSS} [%t] | %m  (%C{1}.%M:%L)%n"/>
        </layout>
    </appender>

    <appender name="CPU_HOG_FILE" class="org.apache.log4j.RollingFileAppender">    
        <param name="File" value="/var/log/tomcat/server-cpuhog.log" />
        <param name="MaxFileSize" value="10MB" />
        <param name="MaxBackupIndex" value="1" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                value="%p %d{MMM dd HH:mm:ss,SSS} [%t] | %m  (%C{1}.%M:%L)%n"/>
        </layout>
    </appender>

    <appender name="SQL_HOG_FILE" class="org.apache.log4j.RollingFileAppender">    
        <param name="File" value="/var/log/tomcat/server-dbhog.log" />
        <param name="MaxFileSize" value="10MB" />
        <param name="MaxBackupIndex" value="1" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                value="%p %d{MMM dd HH:mm:ss,SSS} [%t] | %m  (%C{1}.%M:%L)%n"/>
        </layout>
    </appender>

    <appender name="SQL_SQL_FILE" class="org.apache.log4j.RollingFileAppender">    
        <param name="File" value="/var/log/tomcat/server-dbsql.log" />
        <param name="MaxFileSize" value="10MB" />
        <param name="MaxBackupIndex" value="1" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                value="%p %d{MMM dd HH:mm:ss,SSS} [%t] | %m  (%C{1}.%M:%L)%n"/>
        </layout>
    </appender>
    
    <logger name="net.sf.ehcache">
        <level value="ERROR"/>
    </logger>

    <!-- Suppress success logging from InteractiveAuthenticationSuccessEvent -->
    <logger name="org.springframework.security">
        <level value="ERROR"/>
    </logger>

    <logger name="org.apache">
        <level value="WARN"/>
    </logger>

    <logger name="org.apache.velocity">
        <level value="FATAL"/>
    </logger>

    <!-- Suppress invalid warning messages from JSF -->
    <logger name="org.apache.myfaces">
        <level value="ERROR"/>
    </logger>

    <logger name="org.dbunit">
        <level value="WARN"/>
    </logger>
  
    <!--logger name="org.hibernate.SQL">
        <level value="INFO"/>
    </logger-->

    <logger name="org.springframework">
        <level value="WARN"/>
    </logger>
   
    <logger name="org.appfuse">
        <level value="INFO"/>
    </logger>

    <logger name="org.appfuse.tool">
        <level value="INFO"/>
    </logger>
    
    <logger name="com.spectralogic">
        <level value="INFO"/>
    </logger>
    
    <logger name="com.spectralogic.util.io.ThreadedDataMover" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="WIRE_FILE"/>
        <appender-ref ref="WARN_FILE"/>
    </logger>
    <logger name="com.spectralogic.s3.server.WireLogger" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="WIRE_FILE"/>
        <appender-ref ref="WARN_FILE"/>
    </logger>
    <logger name="com.spectralogic.s3.server.HttpLogger" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="HTTP_FILE"/>
    </logger>
    
    <logger name="com.spectralogic.util.net.rpc.frmwrk.RpcLogger" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="RPC_FILE"/>
        <appender-ref ref="WARN_FILE"/>
    </logger>
    <logger name="com.spectralogic.util.notification.dispatch.bean.HttpNotificationEventDispatcher" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="NOTIFICATIONS_FILE"/>
        <appender-ref ref="WARN_FILE"/>
    </logger>
    
    <logger name="com.spectralogic.util.healthmon.CpuHogDetector" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="CPU_HOG_FILE"/>
    </logger>
    <logger name="com.spectralogic.util.healthmon.CpuHogListenerImpl" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="CPU_HOG_FILE"/>
    </logger>
    
    <logger name="SpectraDbHogLog" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="SQL_HOG_FILE"/>
    </logger>
    
    <logger name="SpectraDbSqlLog" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="SQL_SQL_FILE"/>
    </logger>

    <root>
        <level value="WARN"/>
        <appender-ref ref="FILE"/>
        <appender-ref ref="WARN_FILE"/>
    </root>

</log4j:configuration>
